@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

$dark-pink: #ffc1d1;

$darker-pink: rgba(216, 112, 147, 0.951);

$light-pink: #fff6f9;

$black: rgb(0, 0, 0);

$main-font: "Overpass";
