@import "../../../variables/_variables";

.test {
  display: flex;
  align-items: center;
}

.generic__btn {
  padding: 3px;
  cursor: pointer;
  background-color: $black;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  &:hover {
    color: $light-pink;
    transform: scale(1.03);
    transition: 0.2s ease;
  }
}
