.admin__login{
 display: flex;
 flex-direction: column;
 justify-content: center;
.generic__btn__div{
    display: flex;
    justify-content: center;
    padding: 5%;
}
p{
    text-align: center;
    color: red;
}
}