@import "../../../../variables/variables.scss";

.hero__container {
  background-image: url("../../../../../public/assets/resturant.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .hero__filter {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.273);
  }
  .booking__content {
    display: flex;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    .form__container {
      background-color: #ffc1d1f1;
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      position: relative;
    }
  }
  .next__btn {
    justify-content: center;
  }
  .next__btn:disabled {
    padding: 3px;
    width: 100px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
  }
  .next__btn:enabled {
    padding: 3px;
    width: 100px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $black;
    color: white;
    &:hover {
      transform: scale(1.03);
      transition: ease-in-out 0.2s;
    }
  }
  .heading__container {
    padding: 20px;
    .heading__h1 {
      text-decoration: underline;
    }
  }
  .date__input-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .next__btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60px;
    flex-grow: 1;
  }
  .date__time-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .fullybooked__msg {
    margin: 20px 0 0 0;
  }
}

@media only screen and (min-width: 600px) {
  .next__btn-container {
    justify-content: space-evenly;
  }

  .fullybooked__msg {
    margin: 0;
  }

}
