@use "../../../variables/variables" as *;

body {
    background-color: $light-pink;
    .admin__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}