@use "../../../../variables/variables" as *;

.admin__toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 20vh;
    border: 3px solid $darker-pink;
    border-radius: 10px;
    margin-bottom: 20px;
    user-select: none;
    cursor: pointer;


    div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        color: gray;
        z-index: -1;

        &.active{
            background-color: $dark-pink;
            color:black;
        }
    }
}
@media only screen and (max-width: 600px) {
    .admin__toggle{
        border: 2px solid black;

        div{

            &.active{
                background-color: $darker-pink
            }
        }
    }
}
