/* COMPONENTS */

@import url(./address.css);

/* PAGES */

@import url(./home.css);
@import url(./contact.css);

/* GLOBAL */

* {
  box-sizing: border-box;
  font-family: "Overpass";
}

html,
body {
  margin: 0;
  padding: 0;
}
