.container {
  background-image: url("../../public/assets/404v.svg");
  width: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.notfound__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  margin-left: 40px;
}
.notfound__heading {
  color: #ec615b;
  font-weight: 100;
  font-size: 280%;
}

.notfound__btn {
  border-radius: 20px;
  text-decoration-line: none;
  width: fit-content;
  font-size: 130%;
  background-color: #5222d0;
  color: white;
  padding: 10px;
  position: relative;
}

.notfound__btn:hover {
  transition: 0.3s ease;
  background-color: #663dcf;
  transform: scale(1.05);
}

@media only screen and (max-width: 760px) {
  .notfound__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0%;
  }
  .notfound__heading {
    display: none;
  }
  .container {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.601);
  }
}
