@import "../../../variables/_variables";

.generic__btn {
  font-size: 1.3rem;
  padding: 3px;
  cursor: pointer;
  width: 100px;
  background-color: $black;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  &:hover {
    color: $light-pink;
    transform: scale(1.03);
    transition: 0.2s ease;
  }
}
